body {
  background-color: #eee;
}

.wrapper {
  width: 1200px;
  height: 2080px;
  background-color: #fff;
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 0;
  margin: auto;
}

.menu {
  list-style: none;
}

.menu-item {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  font-size: 1rem;
  display: inline-block;
  margin: 0px 25px 80px;
  text-align: center;
  color: #fff;
}

.menu-item-last {
  margin-right: 0;
}

.menu-item-first {
  margin-left: 325px;
}

.menu-link {
  display: block;
  text-decoration: none;
  color: #626262;
  font-family: "Playfair Display", serif;
}

.menu-link:hover {
  color: #03a9f4;
}

.box {
  width: 420px;
  height: 500px;
  font-size: 1rem;
  margin-left: 150px;
  display: inline-block;
  font-family: "Playfair Display", serif;
  color: #626262;
}

.box-right {
  margin-left: 60px;
}

.signature {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #c7c1b6;
}

.text-head {
  padding-bottom: 40px;
  font-size: 30px;
}

.text {
  font-size: 14px;
}

.box-top {
  padding-top: 130px;
}

.btn {
  width: 164px;
  height: 60px;
  border: 3px solid #626262;
  /* padding-top: 55px; */
  margin: 55px 518px 0 518px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 20px;
}
