html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.wrapper {
  width: 900px;
  background-color: #fff;
  font-size: 0;
  margin: 0 auto;
}

/* MENU SETTINGS */

.menu {
  list-style: none;
  text-align: center;
  padding: 72px 0 100px;
}

.menu li {
  background-color: transparent;
  font-size: 14px;
  display: inline-block;
}

.menu li:not(:last-child) {
  margin-right: 120px;
}

.menu a {
  text-decoration: none;
  color: #626262;
  font-family: "Playfair Display", serif;
  line-height: 24px;
  display: block;
  text-transform: uppercase;
}

.menu a:hover,
.menu a:focus {
  color: #03a9f4;
}

/* BOX INFORMATION */

.box {
  width: 420px;
  font-size: 1rem;
  display: inline-block;
  font-family: "Playfair Display", serif;
  color: #626262;
}

.box:nth-child(-n + 4) {
  margin-bottom: 130px;
}

.box:nth-child(2n + 2) {
  margin-left: 60px;
}

.box:nth-child(n + 5) {
  margin-bottom: 54px;
}

.image {
  margin-bottom: 30px;
}

.signature {
  margin-bottom: 26px;
  font-size: 14px;
  color: #c7c1b6;
}

.text-head {
  font-size: 30px;
  margin-bottom: 34px;
}

.text {
  font-size: 14px;
  line-height: 24px;
}

/* BUTTON SETTINGS */

.load-more-button {
  display: block;
  padding: 18px 34px;
  border: 1px solid #626262;
  margin: 0 auto 70px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.load-more-button:focus,
.load-more-button:hover{
  background: #03a9f4;
}
